html,
body {
    margin: 0;
    padding: 0;
    ;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    font-size: 40px;
    font-weight: bold;
    /* color: red; */
} 